extends layout

block content
  .container.h4
    if (!username)          
      a.btn.btn-primary(href="/auth/twitter") Login with Twitter
    if (username)
      p.small.text-right.bg-success(style="padding: 10px") You are currently logged in as: #{username}
      span
      a.btn.btn-primary(href="/logout" style="margin: 5px") Logout
    p
    .well   
      form(role='form', action='/search', enctype="application/json", method='post')
        span.h4 Search Yelp API: 
        .form-group.h4
          br          
          input(type='text', name="search", value="Look for:")
          | &nbsp;in&nbsp;
          input(type='text', name="zipcode", value="Zip code")
          | ?
        br          
        button.btn(name='submit', type='submit') Search!     
    
    if (results)    
      table.table
        tr
          th.text-center  Search Results:     
        for r in results
          tr
            td #{r.name}&nbsp;
              span
              if userdata.indexOf( r.id ) < 0
                button.btn-xs.btn-warning(name='rsvp')
                  a(href='/rsvp/#{r.id}') RSVP
              else
                button.btn-xs.btn-danger(name='unrsvp')
                  a(href='/unrsvp/#{r.id}') UnRSVP        
        
          
